<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>SeeRedis</title>
</head>
<body>
	<header>
		<h1>SeeRedis</h1>
	</header>
	<p>Connected to server: <%= redis_server %>:<%= redis_port %></p>
	<h2><%= key%> (<%=key_type%>)</h2>
	<table border="1">
		<thead>
			<tr>
				<th>Value</th><th>Score</th>
			</tr>
		</thead>
	<%
		for i=1,#values,2 do
	%>
		<tr>
			<td><%=values[i]%></td>
			<td><%=values[i+1]%></td>
		</tr>
	<% end %>
	</table>
</body>
</html>